button {
  background-color: blue;
  color: #FFFFFF;
  text-align: center;
  font-size: 150%;
  margin: 5px;
  padding: 20px;
  border: 10px aqua double;    
  border-radius: 15px;
}

button:hover {
  background-color: green;
  border-color: white;
  }

button:active {
  color: orange;
  }
