 button {
    background-color: green;
    color: #FFFFFF;
    text-align: center;
    font-size: 150%;
    float: left;
    width: 150px;
    margin: 5px;
    border: 2px black;
    }
    
 input {
    float: left;
    width: 150px;
    font-size: 150%;
    border: 3px black;
    }
    
 div {
    clear: both;
    }

button:hover {
  background-color: orange;
  border-color: white;
  }

button:active {
  color: cyan;
  }

 p {
 font-size: 26px;
}
