body {
    background-color: cyan;
   }
   
form {
    background-color: purple;
    color: white;
   }
footer {
    margin: 100px;
    text-align: center;
}
li {
    list-style-type: none;
  }
   