.ghbc {
  background-color: lightblue;
  }
 .nav-hp {        
  background-color: yellowgreen;
  border: 1px green solid;
  padding: 8px;
  margin: -1px 0px 0px 0px;
  text-align: center;
  }
 .nav-ulhp {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  .nav-lihp {
  display: inline block;
  padding: 8px;    
  }
  .fontcolor {
   color: red;
  )
  .text-center {
    text-align: center;
  }
  .fontSerifHumanist {
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
  .fontTimesRoman {
    font-family: 'Times New Roman', Times, serif;
    }
   .point20-font {
     font-size: 26 px;
    }
