.ghbc {
  background-color: lightblue;
  }
 nav {        
  background-color: yellowgreen;
  border: 1px green solid;
  padding: 8px;
  margin: -1px 0px 0px 0px;
  text-align: center;
  }
 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  nav li {
  display: inline;
  padding: 8px;    
  }
  .fontcolor {
   color: red;
  )
